<div class="container">

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8"><h1>Contract Lines</h1></div>
  <div class="bottom-align-right col-xs-6 col-md-4">
    <%= button_to 'Create New', new_line_path, method: :get, class:"btn btn-primary pull-right" %>
  </div>
</div>

<br>

<%= render 'line', obj: @lines %>

</div>