<div class="container">

<h1>Editing Contract</h1>

<%= render 'form', contract: @contract %>

<ul class="nav nav-pills">
	<li><%= button_to 'Details', contract_path(@contract), method: :get, class:"btn btn-default" %></li>
	<li><%= button_to 'Back', contracts_path, method: :get, class:"btn btn-default" %></li>
</ul>

</div>