<div class="row">
  <div class="center-outer">
    <div class="home-button1">
      <a href="/contracts"> 
        <div class="hyperspan"></div>
      </a>
      <div class="home-button-text text-center">S</div>
      <div class="home-button-text-sm text-center">
        Supplier Contract Database
      </div>
    </div>
    <div class="home-button2">
      <a href="/contracts"> 
        <div class="hyperspan"></div>
      </a>
      <div class="home-button-text text-center">C</div>
      <div class="home-button-text-sm text-center">
        Customer Contract Database
      </div>
    </div>
  </div>
</div>