@import url('https://fonts.googleapis.com/css?family=Roboto');
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

.container, .dropdown-menu, .btn {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a.btn:visited {
    color: white;
}

tbody td {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.smfont {
    font-size: 90%;
}

.notice-banner {
    box-size: border-box;
    margin: 15px;
}

.row {
    position: relative;
}

// .bottom-align-right {
//     position: absolute;
//     bottom:0;
//     right:0;
// }
