<footer class="footer navbar-fixed-bottom panel-footer">
  <div class="container">
    <small>
      Copyright &copy; 2017 World Fuel Services Corporation. All Rights Reserved.
    </small>
  </div>
</footer>