<footer class="footer navbar-fixed-bottom panel-footer">
  <div class="container">
    <small class="inline-block">
      Copyright &copy; 2017 World Fuel Services Corporation. All Rights Reserved.
    </small>
    <div class="pull-right">
      <a href="mailto:LandAnalytics@wfscorp.com?Subject=Supply%20Contract%20Database" target="_top" class="link-white">Contact Us</a>
    </div>
  </div>
</footer>